body {
  text-align: center;
  margin-top: 100px;
  font-family: Verdana;
}
button {
  font-size: 100px;
  font-family: Verdana;
  background: grey;
  color: black;
  border: groove;
  border-color: black;
}

body {
  color: grey;
    text-align: center;
    margin-top: 100px;
    background-image: url('https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/14502909_1312507852102506_8869429256468931024_n.jpg?oh=28bd2b8b48d4bbbe2e5e8dfbd0db41ca&oe=5867498E');
  background-repeat: no-repeat;
  background-size: cover;
}